<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <br>
            <div class="card" >
                <div class="card-body">
                    <br>
                  <h5 class="card-title">DELETE BOOKS</h5>
                  <div class="row g-3">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Book Title</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <button class="btn btn-outline-dark">Submit</button>
                    </div>
                </div>
                  
                </div>
              </div>
            
            
        </div>
    </div>
</div>